/*El CSS, espero que lo disfrutes*/
body
{
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?li9vlp');
    src:  url('./fonts/icomoon.eot?li9vlp#iefix') format('embedded-opentype'),
      url('./fonts/icomoon.ttf?li9vlp') format('truetype'),
      url('./fonts/icomoon.woff?li9vlp') format('woff'),
      url('./fonts/icomoon.svg?li9vlp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Menu:before {
    content: "\e900";
  }
  .burger-button {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.5);
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 5;
    left: 3px;
    top: 3px;
}

.video {
    border: transparent 1px solid;
    border-radius: 5px;
}

.header
{
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header ol
{
    display: flex;
    height: inherit;
    align-items: center;
}

.header ol li
{
    height: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.header a
{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

ol, ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu
{
    height: inherit;
}

figure
{
    margin: 0;
}

.header a
{
    color: white;
    text-decoration: none;
}

.hero
{
    height: 200px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image
{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    object-fit: cover;
}

h1 strong
{
    color:#026fff;
}

.project
{
    border: solid gray 1px;
    border-radius: 10px;
    box-shadow: 2px 0px 0px 1px rgba(0, 0, 0, 0.4);
    margin: 0;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-details-2
{
    width: 50%;
}

.project-image-2
{
    border: 1px solid transparent;
    border-radius: 20px;
    width: 95%;
}

.project-details
{
    width: 50%;
    display: inline-block;
}

.project-imageContainer
{
    width: 50%;
    display: inline-block;
}

.project-title
{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-course, .project-date, .project-url
{
    margin: 10px 0px;
}

.project-description
{
    font-size: 20px;
}

.project strong
{
    font-family: 'Fjalla one', sans-serif;
}

.project-h2
{
    margin-left: 0px;
    margin-bottom: 40px;
}

.project-details-2
{
    width: 50%;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Fjalla one', sans-serif;
    font-weight: normal;
}

h1
{
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    color: #ffffff;
    margin: 0;
    font-variant: petite-caps;
    padding: 0 10px;
    justify-content: inherit;
    align-items: inherit;
}

h2 
{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
    border: 1px solid lightblue;
    width: 300px;
    background-color: lightsteelblue;
}

.portfolio
{
    background-color: #fafafa;
    padding: 20px;
}

.event
{
    margin: 1%;
    width: 47%;
    border-radius: 15px;
    border: transparent 1px solid;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}

.event-list
{
    display: flex;
    flex-wrap: wrap;

}

.event img
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event-list-title
{
    margin-left: 0px;
}

.event-detail
{
    margin: 20px 40px;
    background-color: white;
    margin-top: -35%;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description
{
    text-align: left;
}

.contact
{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-link
{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 20px;
    background-size: 50px 50px;
}

.social-link.twitter
{
    background-image: url(./images/twitter.svg);
}
.social-link.instagram
{
    background-image: url(./images/instagram.svg);
}
.social-link.github
{
    background-image: url(./images/github.svg);
}
.social-link.facebook
{
    background-image: url(./images/facebook.svg);
}

.footer
{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img
{
    vertical-align: middle;
}

.footer a
{
    color: white;
}

.contact-email input
{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url(./images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.contact-email button
{
    display: initial;
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    padding: 10px 0;
}

.contact-email h3
{
    font-family: 'Source Sans Pro', sans-serif;
}

.container
{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    padding: 0 0.5em;
}

/*deskTop first*/

@media screen and (max-width: 1023px) {
    .project-image {
        width: 100%;
    }
    .portafolio {
        padding: 0;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 1.2em;
        margin: .5em 0;
    }
    .menu {
        position: fixed;
        z-index: 5;
        left: -130px;
        top: 8px;
        transition: 1s;
    }
    .menu.is-active {
        left: 42px;
    }
    .burger-button {
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        background-color: rgba(0, 0, 255, 0.9);
    }
    .header a {
        justify-content: center;
    }
    .header .logo {
        text-align: center;
    }
    .project {
        display: block;
    }
    .project-imageContainer {
        width: auto;
        align-items: center;
    }
    .project-image {
        width: 100%;
    }
    .project-details {
        width: auto;
        font-size: 20px;
    }
    .project-title {
        font-size: 1.5em;
    }
    .project-url {
        font-size: 1em;
    }
    .project-course {
        font-size: 0.9em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description {
        font-size: .8em;
    }
    .project-details-2 {
        width: auto;
        font-size: 20px;
    }
    .project-image-2 {
        width: 100%;
    }
    .project-description-2 {
        font-size: 0.8em;
    }
    .project-title-2 {
        font-size: 1.5em;
        margin-bottom: 0.4em;
    }
    .project-course-2 {
        font-size: 0.9em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .event {
        width: auto;
        flex-shrink: initial;
    }
}

@media screen and (max-width: 500px) {
    .contact {
        flex-wrap: wrap;
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-link {
        margin: 10px;
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    .header ol li {
        margin-left: 0px;
    }
    .project-details {
        width: auto;
        font-size: 16px;
    }
    .project-title {
        font-size: 1.5em;
    }
    .project-url {
        font-size: 1em;
    }
    .project-course {
        font-size: 0.9em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description {
        font-size: 0.8em;
    }
    .project-details-2 {
        width: auto;
        font-size: 16px;
    }
    .project-image-2 {
        width: 100%;
    }
    .project-description-2 {
        font-size: 0.8em;
    }
    .project-title-2 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
    .project-course-2 {
        font-size: 0.9em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contact {
        height: auto;
        padding: 1em 0;
        display: block;
        text-align: center;
    }
    .contact-email button {
        margin: 1em auto;
        display: block;
    }
    .social-link {
        margin: 0 .7em;
    }
    .footer {
        display: block;
        text-align: center;
        height: auto;
        border: 1px solid transparent;
    }     
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.2em;
        border-color: transparent;
        background: rgba(0, 0, 0, 0.5);
    }
    .project-h2 {
        margin-left: 0px;
        margin-bottom: 40px;
        font-size: 20px ;
        width: auto;
    }
    .event-list-title {
        margin-left: 0px;
        margin-bottom: 40px;
        font-size: 20px ;
        width: auto;
    }
    .project-details {
        width: 100%;
        font-size: 18px;
    }
    .header ol li {
        margin-left: 0px;
    }
    .project-details-2 {
        width: auto;
        font-size: 16px;
    }
    .project-image-2 {
        width: 100%;
    }
    .project-image {
        width: 100%;
    }
    .project-description-2 {
        font-size: 0.8em;
    }
    .project-title-2 {
        font-size: 1.5em;
        margin-bottom: 0.4em;
    }
    .project-course-2 {
        font-size: 0.9em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .event-detail {
        margin: -6.8em .5em .5em;
        padding: 0.7em
    }
    .header ol li {
        width: 100%;
        height: 2em;
    }
}